.logo {
  width: 100vw;
  height: 60vh;
  align-items: center;
  justify-content: center;
  background: url("../images/logo.jpg") no-repeat center;
  background-size: cover;
  border-bottom: 1px solid #4685f7;
  color: #4685f7;
}

.about {
  width: 100vw;
  height: 50vh;
  padding: 5%;
  text-align: center;
  color: #4685f7;
}

.directions {
  color: black;
  max-width: 80%;
  margin: auto;
}

#paypal-button-container {
  margin-top: 5%;
}

.footer {
  position: fixed;
  bottom: 0;
}