body, html {
  overflow-x: hidden;
}

html {
  font-size: 1rem;
}

section.main {
  width: 100vw;
  height: 100vh;
}

section.about {
  width: 100vw;
  height: 100vh;
}

section.info {
  width: 100vw;
  height: 100vh;
}

h1 {
  font-family: 'Carter One', cursive;
}

.header {
  margin-top: 15%;
}

.about-div {
  margin: 10%;
  padding: 1%;
}

/* responsive typography  */
