body, html {
  overflow-x: hidden;
}

html {
  font-size: 1rem;
}

nav.navbar {
  position: absolute;
  top: 2em;
  display: block;
}

ul {
  list-style-type: none;
}

ul li {
  display: inline;
}

.tag-line {
  position: absolute;
  bottom: 5em;
}

section {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  flex-direction: column;
}

section.logo {
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: url("../images/logo.jpg") no-repeat center;
  background-size: cover;
  border-bottom: 1px solid #4685f7;
  color: #4685f7;
}

section.main {
  width: 100vw;
  height: 50vh;
  background: url("../images/sliced-meatloaf.jpg") no-repeat center fixed;
  background-size: cover;
  border-bottom: 1px solid #4685f7;
  justify-content: center;
  opacity: 0.8;
}

.buffer {
  margin: 3.5%;
  padding: 1%;
}

section.factoid {
  width: 100vw;
  height: 50vh;
  align-items: center;
  justify-content: center;
  /* background-color: #171b23; */
  border-bottom: 1px solid #4685f7;
}

section.about {
  width: 100vw;
  height: 100vh;
  background: #e5e5e5 url("../images/dan-kelly.jpg") no-repeat center fixed;
  background-size: cover;
  background-blend-mode: multiply;
  color: white;
}

section.info {
  width: 100vw;
  height: 100vh;
  justify-content: center;
  border-top: 1px solid #4685f7;
  background: #e5e5e5 url("../images/slice-sandwich.jpg") no-repeat center fixed;
  background-size: cover;
  /* background-blend-mode: overlay; */
  opacity: 0.8;
}

section.order-page {
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: #e5e5e5 url("../images/blackflag-pickles.jpg") no-repeat center fixed;
  background-size: cover;
  background-blend-mode: overlay;
}

.order-column {
  width: 50%;
}

.roast-description-div {
  max-width: 90%;
}

section.order-steps {
  width: 100vw;
  height: 50vh;
  align-items: center;
}

h1 {
  font-family: 'Molengo', Georgia, Times, serif;
  font-size: 3em;
  line-height: 80px;
  color: #4685f7;
}

p, a {
 font-family: 'Lekton', Helvetica, Arial, sans-serif;
 font-size: 1.4em;
 line-height: 25px;
}

.thick-underline {
  border-bottom: 3px solid #4685f7;
}

.display-1 {
  color: white;
  opacity: 0.8;
}

.lead {
  font-weight: 600;
  color: #4685f7;
  text-transform: uppercase;
}

.about-div {
  margin: 5%;
  width: 50%;
}

.about-header {
  color: white;
  /* opacity: 0.8; */
}

.roast-description-div {
  max-width: 50%;
  margin: 2%;
  padding: 1.4%;
}

.order-steps {
  padding: 2%;
  align-items: center;
  justify-content: center;
}

footer {
  width: 100vw;
  height: 25vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #171b23;
  color: white;
  border-top: 1px solid #4685f7;
}

/* responsive typography  */

/* media queries for mobile / tablet */
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 1.4em;
    line-height: 25px;
  }
  p, a {
    font-size: 1em;
    line-height: 18px;
  }
  section.logo {
    width: 100vw;
    height: 100vh;
    align-items: center;
    background: url("../images/logo.jpg") no-repeat;
    background-size: contain;
    border-bottom: 1px solid #4685f7;
    color: #4685f7;
  }
  .tag-line {
    width: 65%;
    position: absolute;
    bottom: 8em;
  }
  section.main {
    width: 100vw;
    height: 50vh;
    background: url("../images/sliced-meatloaf.jpg") no-repeat center;
    background-size: cover;
    border-bottom: 1px solid #4685f7;
    justify-content: center;
    opacity: 0.8;
  }
  section.factoid {
    width: 100vw;
    height: 50vh;
    border-bottom: 1px solid #4685f7;
  }
  section.about {
    width: 100vw;
    height: 75vh;
    background: #171b23 url("../images/dan-kelly.jpg") no-repeat bottom;
    background-size: contain;
    background-blend-mode: screen;
    font-weight: 600;
    color: white;
  }
  section.info {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    border-top: 1px solid #4685f7;
    background: #e5e5e5 url("../images/slice-sandwich.jpg") no-repeat center;
    background-size: cover;
    /* background-blend-mode: overlay; */
    opacity: 0.8;
  }
  section.order-page {
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: #e5e5e5 url("../images/blackflag-pickles.jpg") no-repeat center;
    background-size: cover;
    background-blend-mode: overlay;
  }
  section.order-steps {
    width: 100vw;
    height: 50vh;
    align-items: center;
    justify-content: center;
    background-color: #F9F9F9;
  }
  .order-column {
    width: 100%;
  }
  .roast-description-div {
    max-width: 90%;
    margin: 2%;
    padding: 1.4%;
  }
  .about-div {
    margin: 5%;
    padding: 1%;
    width: 90%;
  }
  .display-1 {
    font-size: 2.4em;
  }
  .grab-a-roast {
    max-width: 90%;
  }
}
